    <section class="section">
    <table class="table">
        <thead>
          <tr>
            <th><abbr title="Name">Name</abbr></th>
            <th>Link</th>
            <th><abbr title="Average">Average</abbr></th>
            <th><abbr title="1 month">1 month</abbr></th>
            <th><abbr title="3 months">3 months</abbr></th>
            <th><abbr title="6 months">6 months</abbr></th>
            <th><abbr title="12 months">12 months</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{VALUES[0].name}}</th>
            <td><a href={{VALUES[0].url}} title="Link">Link to {{VALUES[0].name}}</a>
            </td>
            <td>{{VALUES[0].average}}</td>
            <td>{{VALUES[0].one}}</td>
            <td>{{VALUES[0].three}}</td>
            <td>{{VALUES[0].six}}</td>
            <td>{{VALUES[0].twelf}}</td>
          </tr>
          <tr>
            <th>{{VALUES[1].name}}</th>
            <td><a href={{VALUES[1].url}} title="Link">Link to {{VALUES[1].name}}</a>
            </td>
            <td>{{VALUES[1].average}}</td>
            <td>{{VALUES[1].one}}</td>
            <td>{{VALUES[1].three}}</td>
            <td>{{VALUES[1].six}}</td>
            <td>{{VALUES[1].twelf}}</td>
          </tr>
          <tr>
            <th>{{VALUES[2].name}}</th>
            <td><a href={{VALUES[2].url}} title="Link">Link to {{VALUES[2].name}}</a>
            </td>
            <td>{{VALUES[2].average}}</td>
            <td>{{VALUES[2].one}}</td>
            <td>{{VALUES[2].three}}</td>
            <td>{{VALUES[2].six}}</td>
            <td>{{VALUES[2].twelf}}</td>
          </tr>
          <tr>
            <th>{{VALUES[3].name}}</th>
            <td><a href={{VALUES[3].url}} title="Link">Link to {{VALUES[3].name}}</a>
            </td>
            <td>{{VALUES[3].average}}</td>
            <td>{{VALUES[3].one}}</td>
            <td>{{VALUES[3].three}}</td>
            <td>{{VALUES[3].six}}</td>
            <td>{{VALUES[3].twelf}}</td>
          </tr>
          <tr>
            <th>{{VALUES[4].name}}</th>
            <td><a href={{VALUES[4].url}} title="Link">Link to {{VALUES[4].name}}</a>
            </td>
            <td>{{VALUES[4].average}}</td>
            <td>{{VALUES[4].one}}</td>
            <td>{{VALUES[4].three}}</td>
            <td>{{VALUES[4].six}}</td>
            <td>{{VALUES[4].twelf}}</td>
          </tr>
        </tbody>
    </table>
  </section>